<h1>Ares Secure</h1>
<nav>
  <a routerLink="">home</a>
  <a routerLink="/register">register</a>
  <a routerLink="/login">login</a>
  <a routerLink="/user">user</a>
</nav>
<router-outlet></router-outlet>