<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label for="nom">nom</label>
    <input type="texte" name="nom" id="nom" formControlName="nom">
    <label for="prenom">prenom</label>
    <input type="prenom" name="prenom" id="prenom" formControlName="prenom">
    <label for="email">email</label>
    <input type="texte" name="email" id="email" formControlName="email">
    <label for="pwd">mot de passe</label>
    <input type="password" name="pwd" id="pwd" formControlName="pwd">
    <input type="submit" value="Submit">
</form>