<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="email">email</label>
    <input type="texte" name="email" id="email" formControlName="email">
    <label for="pwd">mot de passe</label>
    <input type="password" name="pwd" id="pwd" formControlName="pwd">
    <input type="submit" value="Submit">
</form>